*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    font-family: Arial, sans-serif;
}

form{
  border: 2px solid #121212;
  padding: 30px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

form div{
    display: flex;
    flex-direction: column;
   gap: 0.5rem;
}

form label{
    font-size: 1rem;
}

form h1{
    text-align: center;
}

input{
    padding: 10px 7px;
    width: 500px;
}

form input:invalid {
    border-color: red;
}

form > div > input:invalid + span {
    display: block;
    color: red;
    font-size: 12px;
}

button{
    padding: 5px 15px;
}